{% extends "index.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <div class="cart">
        <h1>Корзина</h1>
        <table class="cart_table">
            <thead>
            <tr>
                <th></th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Удалить</th>
                <th>Цена руб/ед.</th>
                <th>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{% static product.image %}
                              {% else %}{% static "img/no_image.png" %}
                              {% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>
                            <form class="form_cart" action="{% url "cart_add" product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <input class="but_update" type="submit" value="Обновить">
                                {% csrf_token %}
                            </form>
                        </td>
                        <td><a href="{% url "cart_remove" product.id %}">Удалить</a></td>
                        <td>{{ item.price }} руб.</td>
                        <td>{{ item.total_price }} руб.</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="all">
                <td>Итого:</td>
                <td colspan="4"></td>
                <td>{{ cart.get_total_price }} руб.</td>
            </tr>
            </tbody>
        </table>
        <p class="actions">
            <a class='go_home' href="{% url "home" %}">Вернуться к покупкам</a>
            <a class='go_to_order' href="#">Сформировать заказ</a>
        </p>

    </div>

{% endblock %}
