{% extends "index.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
    <div class="user">
        <h1 class="enter">Вход</h1>
        <form class="user_form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div>{{ form.username.label_tag }}</div>
            <div>{{ form.username }}</div>
            <div>{{ form.password.label_tag }}</div>
            <div>{{ form.password }}</div>
            <div><a class="pass_reset" href="{% url 'password_reset' %}">Забыли свой пароль?</a></div>

            <p><input type="submit" value="Вход"></p>
        </form>
        <h2>
            <a class="reg_href" href="{% url 'registration' %}">Регистрация</a>
        </h2>
    </div>

{% endblock %}