{% extends "index.html" %}
{% block title %}Мой аккаунт{% endblock %}
{% block content %}
    <h1>Вход</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>

            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'password_reset' %}">Забыли свой пароль?</a>
                </td>
            </tr>
        </table>
        <p><input type="submit" value="Вход"></p>
    </form>

{% endblock %}