{% extends 'index.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <div class="user">
        <h2 class="reset_h">Введите новый пароль</h2>
        {% if validlink %}
            <form class="user_form" method="post" novalidate>
                {% csrf_token %}
{#                <table>#}
{#                    <tr>#}
{#                        <td>{{ form.new_password1.label_tag }}</td>#}
{#                        <td>{{ form.new_password1 }}</td>#}
{#                        <td>{{ form.new_password1.errors }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>{{ form.new_password2.label_tag }}</td>#}
{#                        <td>{{ form.new_password2 }}</td>#}
{#                        <td>{{ form.new_password2.errors }}</td>#}
{#                    </tr>#}
{#                </table>#}
                <div>{{ form.new_password1.label_tag  }}</div>
                <div>{{ form.new_password1 }}</div>
                <div>{{ form.new_password1.errors }}</div>
                <div>{{ form.new_password2.label_tag }}</div>
                <div>{{ form.new_password2 }}</div>
                <div>{{ form.new_password2.errors }}</div>
                <input type="submit" value="Отправить">
            </form>

        {% else %}
            <p>Ссылка для изменения пароля недействительна, возможно она уже была использована ранее. Пожалуйста,
                сделайте
                новый запрос на изменение пароля.</p>

        {% endif %}

    </div>

{% endblock %}