{% extends 'index.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <div class="user">
        <h2 class="reset_h">Для сброса пароля заполните форму ниже:</h2>
        <form class="user_form" action="" method="post" novalidate>
            {% csrf_token %}
            <table>
                <tr>{{ form.email.label_tag }}</tr>
                <tr>{{ form.email }}</tr>
                <tr>{{ form.email.errors }}</tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>

{% endblock %}