{% extends 'index.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <div class="user_form">
        <h2>Для сброса пароля заполните форму ниже:</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table>
                <tr>{{ form.email.label_tag }}</tr>
                <tr>{{ form.email }}</tr>
                <tr>{{ form.email.errors }}</tr>
            </table>
            <input type="submit" value="отправить">
        </form>
    </div>

{% endblock %}