body {
    font-family: Tahoma, serif;
}

.menu {
    display: flex;
    flex-direction: row;
    /*последний элемент в конце контейнера*/
    justify-content: space-between;
    line-height: 3em;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bolder;
}

.menu span {
    color: darkblue;
    font-size: 1em;
    font-weight: bolder;

}

.submenu {
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    /*justify-content: space-between;*/
    line-height: 3em;
    font-weight: bolder;
}

.submenu a {
    text-decoration: none;
    color: brown;
}

/*движение рекламы о скидке 5%*/
#reclame {
    color: darkblue;
    font-weight: bolder;
    font-size: 1.2em;
    width: 50%;
    animation: reclamefly 20s infinite linear;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

@keyframes reclamefly {
    0% {
        left: 0%;
        bottom: 50%
    }
    100% {
        left: 100%;
        bottom: 0%
    }

}

/*##########################################*/
.submenu a:hover {
    background-color: chartreuse;
}

.submenu span {
    text-align: right;
    margin-right: 10px;
}

/*все блоки расположены рядом*/
.content {
    display: flex;

}

.discount_href {
    text-align: left;
}

@media (max-width: 850px) {

    .menu a {
        font-size: 0.9em;
    }

    .menu span {
        font-size: 0.9em;
    }

    #reclame {
        font-size: 1em;
    }
}

@media (max-width: 730px) {
    .menu {
        flex-direction: column;
    }
}