#but_pay{
    width: 20%;
    height: 30px;
    font-weight: bolder;
    border-radius: 5px;
}
#card-number{
    width: 50%;
}
.field {
    height: 30px;
    border: 1px solid darkslategray;
    border-radius: 5px; /*закругление блоков*/
    margin-bottom: 10px; /*отступы между инпутами*/
    margin-top: 5px;
    width: 20%;
}
.go_home1{
    padding-left: 10px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}