.product-detail{
    display: flex;
    flex-direction: column;
}
.product-detail h2{
    color: indianred;
}
.product-detail h3 a{
    color: brown;
    text-decoration: none;
}
.product-detail img{
    width: 40%;
}
.price{
    font-weight: bolder;
}
.to_cart{
    height: 30px;
    width: 40%;
    border-radius:5px;
}
.form_sel select{
    width: 25%;
    height: 30px;
    text-align: center;
    margin-left: 5px;
}