{% extends "index.html" %}
{% load static %}
{% block title %}
    Условия доставки
{% endblock %}

{% block content %}
    <div class="cart">
        <h1>Условия доставки</h1>
        <p>Прием заказов</p>

        <p>ежедневно с 12:00 до 22:45</p>

        <p>Доставка и самовывоз</p>

        <p>ежедневно с 12:00 до 23:30</p>
        <h3>Стоимость доставки по районам:</h3>
        <ul>
            <li>Советский - 100 руб</li>
            <li>Фокинский - 200 руб</li>
            <li>Володарский - 200 руб</li>
            <li>Бежицкий - 200 руб</li>
        </ul>

    </div>

{% endblock %}