{% extends "index.html" %}
{% load static %}
{% block title %}
    Способы оплаты
{% endblock %}

{% block content %}
    <div class="cart">
        <h1>Способы оплаты</h1>
        <h3>Наличный расчет</h3>
        <h3>Картой через терминал</h3>
        <p>Оплата наличными и картой через терминал осуществляется курьеру при получении заказа. Обязательно проверьте
            комплектацию товара и наличие чека.</p>
        <h3>Онлайн - оплата банковской картой</h3>
        <p>Для оплаты товара с помощью банковской карты на странице формирования заказа необходимо нажать «Оплатить».
            Оплата происходит через сервис приема международных платежей Braintree.</p>
        <p>Braintree использует новый стандарт аутентификации 3DS2. Это не только повышает безопасность транзакций и
            усиливает защиту от мошенников, но также на 85% ускоряет обработку платежей и повышает удобство оплаты через
            мобильные устройства.</p>
        <p>Braintree соответствует PCI DSS и не хранит платёжные данные клиентов. Шифрование данных гарантирует, что
            даже в случае утечки злоумышленники не смогут воспользоваться полученной информацией.</p>

        <p> После успешного подтверждения платежа Ваш
            заказ будет переведен в режим доставки по указанному адресу. В случае отказа в авторизации карты Вы сможете
            оплатить заказ курьеру при достаке двумя описанными выше способами. </p>

    </div>

{% endblock %}