{% extends "index.html" %}
{% load static %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/order.js' %}" defer></script>
    {% block title %}
        Заказ
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="order">
        <h1>Оформление заказа</h1>
        <div>
            <h3>Ваш заказ</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }} x {{ item.product.name }}
                        <span>{{ item.total_price }} руб.</span>
                    </li>
                {% endfor %}
            </ul>
            <p id="cost_cart">ИТОГО: {{ cart.get_total_price }} руб.</p>

        </div>
        <form class="order_form" action="." method="post">
            {% csrf_token %}
            {% for f in form %}
                <div>{{ f.label_tag }}</div>
                <div>{{ f }}</div>
                <div>{{ f.errors }}</div>
            {% endfor %}
            <p><input type="button" value="Разместить заказ" onclick="get_form_values()"></p>
        </form>
        <p id="result"></p>
        <p id="cost_discount"></p>
        <p id="cost_discount_delivery">.</p>
        <a id='go_home' class='go_home' href="{% url "home" %}"></a>
        <a id='go_pay' class='go_pay' href="{% url "process" %}"></a>

    </div>

{% endblock %}