{% extends "index.html" %}
{% block title %}Оплата банковской картой{% endblock %}
{% block content %}
    <div class="order">
        <h1>Введите данные вашей банковской карты</h1>
        <form class="order_form" action="." id="payment" method="post">
            <label for="card-number">Номер банковской карты</label>
            <div id="card-number" class="field"></div>
            <label for="cvv">CVV</label>
            <div id="cvv" class="field"></div>
            <label for="expiration-date">Срок действия</label>
            <div id="expiration-date" class="field"></div>
            <input type="hidden" id="nonce" name="payment_method_nonce" value="">
            {% csrf_token %}
            <input id="but_pay" type="submit" value="Оплатить">
        </form>
    </div>

    <!-- Load the required client component. -->
    <script src="https://js.braintreegateway.com/web/3.99.0/js/client.min.js"></script>
    <!-- Load Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.99.0/js/hosted-fields.min.js"></script>
    <script>
        var form = document.querySelector('#payment');
        var submit = document.querySelector('input[type="submit"]');
        {#создаем Braintree JavaScript client#}
        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }
            braintree.hostedFields.create({
                client: clientInstance,
                {#указываем стили css для полей ввода#}
                styles: {
                    'input': {'font-size': '1em', 'border': '1px solid darkslategray'},
                    'input.invalid': {'color': 'red'},
                    'input.valid': {'color': 'green'},
                },
                fields: {
                    number: {selector: '#card-number'},
                    cvv: {selector: '#cvv'},
                    expirationDate: {selector: '#expiration-date'}
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    console.error(hostedFieldsErr);
                    return;
                }
                submit.removeAttribute('disabled');
                {#Добавляем прослушиватель событий для действия отправки формы#}
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error(tokenizeErr);
                            return;
                        }
                        {#отправляем nonce на сервер для обработки платежа#}
                        document.getElementById('nonce').value = payload.nonce;

                        document.getElementById('payment').submit();
                    });
                }, false);
            });
        });
    </script>

{% endblock %}